*{
    margin:0;
    padding:0;
}

nav {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    padding: 30px;
    position: relative !important;
}

.nav-box{
    width: 80%;
    margin: auto;
    display: flex;
    align-item: center;
    justify-content: space-between;
}

.my-shop{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: cursive;
    cursor: pointer;
}

.nav-box h2{
    font-size: 1.2rem;
    color:white;
    letter-spacing: 1px;
}

.order-btn1{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    height:30px;
    font-size:1.1rem;
    border-radius: 10px;
    background-color:#f53f02;;
    color:white;
    font-weight:bold;
    border-color: #0077BE;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration:none;
}

/* .slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 30px;
    background-color: #e67e22;
    border-radius: 12px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    cursor:pointer;
}

.slogan:hover{
    background-color: #cf711f;
} */

.cart{
    curssor: pointer;
}

.cart span:nth-child(1){
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2){
    padding: 0 3px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
}

@media screen and (max-width: 414px){
    .order-btn1{
        width: 100px;
        font-size: 12px;
        /* margin-left:-3rem; */
    }
    .nav-box h2{
     display:none;
    }
    .cart{
        margin-left: 1rem;
    }
}

