.container{
    display:flex;
    justify-content: center;
    /* height: 500px; */
    /* margin-top:15%; */
}

.set-grid{
    display:flex;
    justify-content:center;
    margin: 0 auto;
    padding: 1rem;
  flex-wrap: wrap;
    width: 100%;
    height:auto;
    /* background:#28947e; */
}

