

.take-pic-insturction{
    /* border: 2px solid rgba(255,255,255,.2); */
    width:100%;
}

.take-pic-title{
    margin-top:2rem;
    margin-left:0.5rem;
    font-size:25px;
    color:white;
    max-width:100%;
    /* width:5550px; */
}

.instruction{
    width:100%;
}

.change-color{
    display: flex;
    justify-content:center;
    flex-direction:column;
    border: 2px solid rgba(255,255,255,.2);
}

.take-pic-instruction p {
    margin-bottom: 10px;
    margin-top: 5%;
    /* letter-spacing: 5px; */
    width:97.5%;
    /* font-weight:bold; */
    font-size:18px;
    line-height:1.2;
    color:white;
    margin-left:2rem;
}


@media screen and (max-width: 912px){
    .change-color p {
        /* margin-left:-0.3rem; */
        font-size: 20px;
    }
}

@media screen and (max-width: 414px){
    .take-pic-title{
        display:flex;
        justify-content:center;
        font-size: 16px;
    }
    .change-color{
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0 auto;
        width: 350px;
    }

    .change-color p{
        font-size:14px;
        line-height:1.4;
    }
}