.wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
    gap:10px;
    min-height:100vh;
    background-image:url("../images/background.jpg");
    background-size:cover;
    padding: 2rem 0;
}
video{
    margin-left: 26px;  
}
.background-img{
    object-fit:cover;
}

.written-instruction{
    margin-top: 2rem;
    width: 500px;
        backdrop-filter: blur(30px);
}
.form{
  
    width: 500px;
    color:#fff;
    background:transparent;
    /* border: 2px solid rgba(255,255,255,.2); */
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    /* min-height: 70   0px; */
    border-radius: 10px;
    padding: 30px 40px;
}

.form h3{
    font-size:28px;
    text-align:center;
}

.form button{
    margin-top:2rem;
}

.wrapper .input-box{
    position: relative;
    width:100%;
    height:50px;
    margin: 30px 0;
}

.input-box input {
    width:100%;
    height:100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size:16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button {
    width:100%;
    height:45px;
    background:#fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-size: 16px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    
}

.wrapp{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
}

.option-check-box{
    margin-top:3rem;
}

.my-option option{
    margin-left:1.5rem;
}

.wrapp-checkbox label{
    padding:0 0.6rem;
    /* margin:0 12px; */
}

.checkbox-title{
    margin-left: 0.2rem;
}

.wrapp-checkbox{
    /* margin-bottom: 5rem; */
}

.video-instruction h3{
    display:flex;
    justify-content:center;
    color:white;
    margin-top:1.7rem;
    font-size:28px;
    margin-bottom:2.3rem;
}

.select-option{
    display:flex;
    justify-content:center;
    align-items:center;
    background:transparent;
    color:white;
    width:70%;
    height:30px;
    cursor:pointer;
    margin-bottom:1rem;
    border: 2px solid rgba(255,255,255,.2);
    border-radius:2px;
    font-weight:bold;
}
.red{
    color:red;
}
@media screen and (max-width: 912px){
        
}

@media screen and (max-width: 750px){
   .wrapper{
    ojbect-fit:cover;
    
 /* width: 300px; */
   }
   
    }

    @media screen and (max-width: 414px){
        .form{
            width: 350px;
        }
        .form h1{
            font-size:24px;
        }  
        .wrapper .input-box{
            position: relative;
            width:100%;
            height:30px;
            margin: 30px 0;
        }
        .select-option{
            font-size:12px;
        }
    
        .video-control{
            width: 320px;
            margin-top:-2.5rem;
        }
        
    }