
  @import url('https://fonts.googleapis.com/css2?family=Honk&family=Protest+Riot&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Honk', system-ui;
    font-family: 'Protest Riot', sans-serif;
  }

  .insta{
    /* height:50vh; */
  }